<div class="container">
    <div class="cards-cocktails">
        <div class="card-trip shadow taille-card d-flex flex-column">
          <div class="image" style="background-image: url(https://s23209.pcdn.co/wp-content/uploads/2014/06/IMG_0450edit-1.jpg)"></div>
          <div class="card-trip-infos taille-card-texte">
            <div class="d-flex justify-content-center">
              <h2 class="text-center">cocktail.name</h2>
            </div>
          </div></div>
        <div class="card-trip shadow taille-card d-flex flex-column">
          <div class="image" style="background-image: url(https://www.cookingonthefrontburners.com/wp-content/uploads/2016/03/LimoncelloMartini.jpg)" ></div>
          <div class="card-trip-infos taille-card-texte">
            <div class="d-flex justify-content-center">
              <h2 class="text-center"><cocktail.name></h2>
            </div>
          </div></div>
    </div>
</div>
