.cards-cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.image {
  width: 100%;
  height: 80%;
  background-size: cover;
}

.taille-card{
  height: 400px;
}

.taille-card-texte {
  height: 20%
}
